{% extends "base.html.twig" %}

{% block content %}

    <div style="text-align:center;">
        <img src="{{asset('imagenes')}}/registro_correcto.png" width="150px"/>
        <h2>{{Nombre}}, gracias por tu comentario</h2>
        <h3>Lo hemos registrado correctamente</h3>
    </div>

{% endblock %}