{% extends "base.html.twig" %}

{% block content %}

    <div style="text-align:center;">
        <img src="{{asset('imagenes')}}/registro_correcto.png" width="150px"/>
        <h2>¡¡Felicidades {{nombre}}!!</h2>
        <h3>Tu registro se ha completado</h3>
    </div>

{% endblock %}